<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Culauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Culauncher.Properties.Settings>
            <setting name="StartupGame" serializeAs="String">
                <value>headpat</value>
            </setting>
            <setting name="KeepLauncherOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDevelopper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccountEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountPasswordHash" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableOnlineSaves" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>light</value>
            </setting>
        </Culauncher.Properties.Settings>
    </userSettings>
</configuration>